{% extends 'General/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
    <body style="margin-top: 150px;">
        <div class="container">
            <div class="image">
            <form action="{%url 'new-image'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-primary btn-lg" value="Post">
            </form>
            </div>
        </div>
    </body>
    
{% endblock%}
