{% extends 'General/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}
    <h1 style="margin-top: 20px;font-size:30px">Edit your profile {{current_user}}</h1>
    <div class="container">
        <div class="edit">
            <form action="{%url 'update-profile'%}" method = "post" enctype="multipart/form-data">
                {% csrf_token%}
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-primary" value="">
            </form>
        </div>
    </div>
{% endblock %}